@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

::selection {
    background: rgb(255, 255, 0);
    color: black;
}

::-moz-selection {
    background: rgb(255, 255, 0);
    color: black;
}

body {
    background-color: #1c1b22;
    display: flex;
    flex-direction: row;
}

main {
    width: 100vw;
    height: 97vh;;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; 
    
    background-color: #1c1b22;
    border: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: 'Courier Prime', monospace;
    
}

.luzinha {
    font-size: larger;
    margin: -6px 0 0 0;
    color: #00ff00;
}